ConsoleApplication2/Service References/RMSPublic/RMSPublicService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RMS.FunctionLibrary.Data.SerialisedClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RMS.FunctionLibrary.Data.SerialisedClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.rms.com.au/RMSPublicService/RMSPublicService.ServiceLibrary.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RMS.FunctionLibrary.Data.Manager" />
  <xs:complexType name="SystemLabelsScreenData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalTariff1_NonTaxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalTariff2_NonTaxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalTariff3_NonTaxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalTariff4_NonTaxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalTariff5_NonTaxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalTariff6_NonTaxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="AdditionalTariff7_NonTaxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="DwellingLabelsId" type="xs:int" />
      <xs:element minOccurs="0" name="DwellingLabelsPropertyId" type="xs:int" />
      <xs:element minOccurs="0" name="DwellinglblSpare1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DwellinglblSpare9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlinelblAccommodation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlinelblSite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyTablePropertyId" type="xs:int" />
      <xs:element minOccurs="0" name="ShowInRMSOnline_AdditionalTariff1" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowInRMSOnline_AdditionalTariff2" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowInRMSOnline_AdditionalTariff3" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowInRMSOnline_AdditionalTariff4" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowInRMSOnline_AdditionalTariff5" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowInRMSOnline_AdditionalTariff6" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowInRMSOnline_AdditionalTariff7" type="xs:boolean" />
      <xs:element minOccurs="0" name="Spare1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemLabelId" type="xs:int" />
      <xs:element minOccurs="0" name="SystemLabelsPropertyId" type="xs:int" />
      <xs:element minOccurs="0" name="aSpare1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="aSpare9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblABN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAccomm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblActivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAddtionalTariff1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAddtionalTariff2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAddtionalTariff3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAddtionalTariff4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAddtionalTariff5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAddtionalTariff6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAddtionalTariff7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAdults" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblAgentSpare1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblArrive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblBlacklist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblBookingSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblChild" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare11MembershipSearchable" type="xs:boolean" />
      <xs:element minOccurs="0" name="lblClientSpare12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare12MembershipSearchable" type="xs:boolean" />
      <xs:element minOccurs="0" name="lblClientSpare13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientSpare9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblClientStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblCompSpare1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblCompanyUnknown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblCoordinatorOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblCoordinatorTwo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblCreditCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblDepart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblDirectCredit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblDwelling" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblEFTPOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblElectricityUnits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblExtras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblGST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblGasUnits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblGiven" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblGroupname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblHold" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblHousekeeperNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblInfant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblPostalSort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblPostcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblResType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblResnote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblTariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblTown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblTravelAgent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblVoucherNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblWaterUnits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lblreservation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemLabelsScreenData" nillable="true" type="tns:SystemLabelsScreenData" />
  <xs:complexType name="ArrayOfSundryBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SundryBasic" nillable="true" type="tns:SundryBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSundryBasic" nillable="true" type="tns:ArrayOfSundryBasic" />
  <xs:complexType name="SundryBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditNote" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GLCodeId" type="xs:int" />
      <xs:element minOccurs="0" name="HasTaxes" type="xs:boolean" />
      <xs:element minOccurs="0" name="SundryId" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SundryBasic" nillable="true" type="tns:SundryBasic" />
  <xs:complexType name="ArrayOfCompanyBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyBasic" nillable="true" type="tns:CompanyBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyBasic" nillable="true" type="tns:ArrayOfCompanyBasic" />
  <xs:complexType name="CompanyBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CreditHold" type="xs:boolean" />
      <xs:element minOccurs="0" name="Primary" type="xs:boolean" />
      <xs:element minOccurs="0" name="Spare1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradingAs" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyBasic" nillable="true" type="tns:CompanyBasic" />
  <xs:complexType name="ArrayOfPropertyBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyBasic" nillable="true" type="tns:PropertyBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyBasic" nillable="true" type="tns:ArrayOfPropertyBasic" />
  <xs:complexType name="PropertyBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="GrpId" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyId" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RMSClientNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyBasic" nillable="true" type="tns:PropertyBasic" />
  <xs:complexType name="ArrayOfCategoryBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryBasic" nillable="true" type="tns:CategoryBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryBasic" nillable="true" type="tns:ArrayOfCategoryBasic" />
  <xs:complexType name="CategoryBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowBookingByCategory" type="xs:boolean" />
      <xs:element minOccurs="0" name="CatId" type="xs:int" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RMS.FunctionLibrary.Data.Manager" minOccurs="0" name="CategoryClass" type="q1:Category.CategoryClass" />
      <xs:element minOccurs="0" name="PropertyId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryBasic" nillable="true" type="tns:CategoryBasic" />
  <xs:complexType name="ArrayOfAreaBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreaBasic" nillable="true" type="tns:AreaBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreaBasic" nillable="true" type="tns:ArrayOfAreaBasic" />
  <xs:complexType name="AreaBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="CatId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaBasic" nillable="true" type="tns:AreaBasic" />
  <xs:complexType name="ArrayOfAreaSetup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreaSetup" nillable="true" type="tns:AreaSetup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreaSetup" nillable="true" type="tns:ArrayOfAreaSetup" />
  <xs:complexType name="AreaSetup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="AreaStats" type="xs:boolean" />
      <xs:element minOccurs="0" name="CleanStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxOccupants" type="xs:int" />
      <xs:element minOccurs="0" name="Spare1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaSetup" nillable="true" type="tns:AreaSetup" />
  <xs:complexType name="ArrayOfCreditCardBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditCardBasic" nillable="true" type="tns:CreditCardBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditCardBasic" nillable="true" type="tns:ArrayOfCreditCardBasic" />
  <xs:complexType name="CreditCardBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="CreditCard" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardBasic" nillable="true" type="tns:CreditCardBasic" />
  <xs:complexType name="ArrayOfClassificationBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClassificationBasic" nillable="true" type="tns:ClassificationBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassificationBasic" nillable="true" type="tns:ArrayOfClassificationBasic" />
  <xs:complexType name="ClassificationBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Classification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassificationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassificationBasic" nillable="true" type="tns:ClassificationBasic" />
  <xs:complexType name="ArrayOfBookingSourceBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingSourceBasic" nillable="true" type="tns:BookingSourceBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingSourceBasic" nillable="true" type="tns:ArrayOfBookingSourceBasic" />
  <xs:complexType name="BookingSourceBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookingSourceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingSourceBasic" nillable="true" type="tns:BookingSourceBasic" />
  <xs:complexType name="ArrayOfResTypeBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResTypeBasic" nillable="true" type="tns:ResTypeBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResTypeBasic" nillable="true" type="tns:ArrayOfResTypeBasic" />
  <xs:complexType name="ResTypeBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="InActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResTypeBasic" nillable="true" type="tns:ResTypeBasic" />
  <xs:complexType name="ArrayOfTitleBasic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitleBasic" nillable="true" type="tns:TitleBasic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitleBasic" nillable="true" type="tns:ArrayOfTitleBasic" />
  <xs:complexType name="TitleBasic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleBasic" nillable="true" type="tns:TitleBasic" />
</xs:schema>